{% extends "layout.html" %}

{% block body %}
<h2>Tracks</h2>
<br>
{% if basic_stats is defined %}
<div class="table-responsive table-sm ">
  <table class="table col align-self-center">
      <thead>
        <tr>
          <th scope="col">Track</th>
          <th scope="col">Times played</th>
          <th scope="col">Fastest Time</th>
        </tr>
      </thead>
      <tbody>
      {% for track in basic_stats %}
        <tr>
          <td>{{ track.Track }}</td>
          <td>{{ track.Races }}</td>
          <td>{{ track.BestTime}}</td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
{% endif %}

{% if fastest_player is defined %}
<div class="table-responsive table-sm ">
  <table class="table col align-self-center">
      <thead>
        <tr>
          <th scope="col">Track</th>
          <th scope="col">Fastest Time</th>
          <th scope="col">Fastest player</th>
        </tr>
      </thead>
      <tbody>
      {% for track in basic_stats %}
      {% for player in fastest_player %}
        <tr>
          <td>{{ track.Track }}</td>
          <td>{{ track.BestTime}}</td>
          <td>{{ player.Player }}</td>
        </tr>
      {% endfor %}
      {% endfor %}     
      </tbody>
  </table>
</div>
{% endif %}
{% endblock %}