{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Players</th>
    </tr>
    {% for player in players %}
    <tr>
      <td>{{ player.handle }}</td>
      <td>
        <form action="{{url_for('players_updateone', id=player.id)}}" method="GET">
          <input class="btn btn-secondary btn-sm" type="submit" value="Update" >
        </form>  
      </td>
      <td>
        <form action="{{url_for('players_deleteone', id=player.id)}}" method="POST">
          <input class="btn btn-danger btn-sm" type="submit" value="Delete" >
        </form>  
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}