{% extends "layout.html" %}

{% block body %}
<h2>Add a new player</h2>
<br>
<form action="{{ url_for('players_create') }}" method="POST" role="form">
  {{ form.csrf }}
    <ul>
      {% for error in form.handle.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
    <table>
      <tr>
        <td>Player</td>
        <td>
          <div class="form-group">  
            <label for="handle" class="sr-only">Player Handle</label>
            <input type="text" class="form-control" id="handle" name="handle" placeholder="Handle">      
          </div>
        </td>
      </tr>
      <tr>
        <td>Player's favorite track</td>
        <td>  
          <div class="form-group">
            {{ form.firstTrack(class_='form-control')|safe }}
          </div>
        </td>
      </tr>
      <tr>
        <td>Player's second favorite track</td>
        <td>
          <div class="form-group">
            <select class="form-control" id="secondTrack" name="secondTrack">
              <script>
                let first_track_select = document.getElementById('firstTrack');
                let second_track_select = document.getElementById('secondTrack')
    
                  first_track_select.onchange = function() {
                  firstTrack = first_track_select.value;
                        
                    fetch('/secondtrack/'+firstTrack).then(function(response) {
                            
                      response.json().then(function(data) {
                        let optionHTML = '';
                          for (let track of data.tracks) {
                            optionHTML += '<option value="'+ track.id + '">' + track.name + '</option>';
                          }   
                        second_track_select.innerHTML = optionHTML;
                      });
                    });
                  }
              </script>
            </select>       
          </div>
        </td>
      </tr>
      <tr>
        <td>Player's favorite character</td>
        <td>
          <div class="form-group">
            {{ form.character(class_='form-control')|safe }}
          </div>
        </td>
      </tr>
    </table>
    <button type="submit" class="btn btn-success">Add player</button>
    
</form>

{% endblock %}