{% extends "layout.html" %}

{% block body %}
{{ error }}
<div>
  <h2>Search for player statistics</h2>
  <br>
  <form action="{{ url_for('players_statistics_search') }}" method="POST" role="form">
    {{form.csrf}}
      <div class="form-group" >
      {{ form.handle(class_='form-control')|safe }}
      </div>
    <button type="submit" class="btn btn-success">Search</button>
  </form>
</div>


{% if player_ranking is defined %}
<br>
<br>
<h4>All time global player ranking</h4>
<br>
<div class="col-md-4">
  <section class="text-center">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Player</th>
        <th scope="col">Wins</th>
      </tr>
    </thead>
      <tbody>
        {% for player in player_ranking %}
        <tr>
          <th scope="row">{{ player.Player }}</th>
          <td>{{ player.Wins }}</td>
        </tr>
        {% endfor %}      
      </tbody>
    </table>
  </section>
  </div>
  
{% endif %}
{% endblock %}