{% extends "layout.html" %}

{% block body %}
<form action="{{ url_for('auth_create_initial_data')}}" method="POST" role="form">
    <ul>
      {% for error in form.name.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
    
    <div class="form-group">
      <h2>First time player?</h2>
      <br>
    </div>                         
      <button type="submit" class="btn btn-submit">Yes</button>
      <button type="submit" class="btn btn-secondary">No</button>
</form>

{% endblock %}