{% extends 'layout.html' %}
{% block body %}

<form method="POST" action="{{ url_for('auth_create_user')}}">
  <div class="form-group">
    <h2 class="text-center">Create a new account</h2>
      <div class="form-group">
        Name:
        {{ form.name(class="form-control")}}
      </div>
      {% for error in form.name.errors %}
      <li>{{ form.name.label }} {{ error }}</li>
      <p></p>
	    {% endfor %}
      <div class="form-group">
        Username:
        {{ form.username(class="form-control")}}

      </div>
      {% for error in form.username.errors %}
      <li>{{ form.username.label }} {{ error }}</li>
      <p></p>
	    {% endfor %}
      <div class="form-group">
        Password:
        {{ form.password(class="form-control")}}

      </div>
      {% for error in form.password.errors %}
      <li>{{ form.password.label }} {{ error }}</li>
      <p></p>
	    {% endfor %}
    </div>
    <div class="text-center">
      <input class="btn btn-info" type="submit" value="Create account"/>
      </div>
      </form>

{% endblock %}