{% extends "layout.html" %}

{% block body %}
<form action="{{ url_for('characters_create')}}" method="POST" role="form">
    <ul>
      {% for error in form.name.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
    
    <div class="form-group">
      <h2>Add a new character</h2>
      <br>
      <label for="name" class="sr-only">Character name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="New character">      
    </div>                         
      <button type="submit" class="btn btn-success">Add character</button>
</form>
  
{% endblock %}