{% extends "layout.html" %}

{% block body %}
<h2>Races</h2>

<br>
<div class="table-responsive table-sm">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Player</th>
        <th scope="col">Track</th>
        <th scope="col">Placement</th>
        <th scope="col">Character</th>
        <th scope="col">Finish time</th>
        <th scope="col">Delete race</th>
      </tr>
    </thead>
    <tbody>
      {% for race in races %}
      <tr>
        <td>{{ race.player }}</td>
        <td>{{ race.track }}</td>
        <td>{{ race.placement }}</td>
        <td>{{ race.character }}</td>
        <td>{{ race.finish_time }}</td>
        <td>
          <form action="{{url_for('races_deleteone', id=race.id)}}" method="POST">
            <input type="submit" value="Delete">
          </form>  
        </td>
      </tr>
      {% endfor %}      
    </tbody>
  </table>
</div>
{% endblock %}