{% extends "layout.html" %}

{% block body %}
{{ error }}
<h2>Add race results</h2>
<br>

<a href="{{ url_for('players_create')}}" >
  No player handle yet? Create a new handle here
</a>

<form method="POST" action="{{ url_for('races_create')}}">  
  <br>
  <table>
    <div>
      <tr>
        <td>
          Handle
        </td>
        <td>
          <div class="form-group">
          {{ form.player(class_='form-control')|safe }}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.track.label }}
        </td>
        <td>
          <div class="form-group">
            {{ form.track(class_='form-control')|safe }}
          </div>
        </td>
      <tr>
        <td>
          {{ form.character.label }}
        </td>
        <td>
          <div class="form-group">
            {{ form.character(class_='form-control')|safe }}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.placement.label }}
        </td>
        <td>
          <div class="form-group">
            {{ form.placement(class_='form-control')|safe }}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.finish_time.label }}
        </td>
        <td>
          <label for="finish_time" class="sr-only">Username:</label>
          <input type="text" class="form-control" id="finish_time" name="finish_time" placeholder="mm:ss">
        </td>
      </tr>
    </div>
    <tr>
      <td>
      </td>
      <td>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Add race</button>
        </div>
      </td>
    </tr>
  </table>
  <br>
</form>

{% endblock %}