{% extends "layout.html" %}

{% block body %}
{{ error }}
<h2>Add a race</h2>
<br>

  <a data-toggle="collapse" href="#playerCreating" aria-expanded="false" aria-controls="collapseExample">
    No player handle yet? Create a new handle here
  </a>  
  <div class="collapse" id="playerCreating">
    <br>  
    <form action="{{ url_for('players_create') }}" method="POST" role="form">
      <div class="form-group">
        <td>
          <label for="handle" class="sr-only">New Player:</label>
          <input type="text" class="form-control" id="handle" name="handle" placeholder="player">
        </td>
      </div>
        <td><button type="submit" class="btn btn-success">Add new player</button></td>
    </form> 
  </div>

<form method="POST" action="{{ url_for('races_create')}}">  
  <br>
  <table>
    <div>
      <tr>
        <td>
          Handle
        </td>
        <td>
          <div class="form-group">
          {{ form.player(class_='form-control')|safe }}
          </div>
        </td>

      </tr>

      <tr>
        <td> </td>
       
      </tr>
      <tr>
        <td>
          {{ form.track.label }}
        </td>
        <td>
          <div class="form-group">
            {{ form.track(class_='form-control')|safe }}
          </div>
        </td>
      <tr>
        <td>
          {{ form.character.label }}
        </td>
        <td>
          <div class="form-group">
            {{ form.character(class_='form-control')|safe }}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.placement.label }}
        </td>
        <td>
          <div class="form-group">
            {{ form.placement(class_='form-control')|safe }}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.finish_time.label }}
        </td>
        <td>
          <label for="finish_time" class="sr-only">Username:</label>
          <input type="text" class="form-control" id="finish_time" name="finish_time" placeholder="mm:ss">
        </td>
      </tr>
    </div>
  </table>
  <button type="submit" class="btn btn-success">Add race</button>

</form>




{% endblock %}