{% extends "layout.html" %}

{% block body %}
{{ error }}
<h2>Add a race</h2>
<br>
<form method="POST" action="{{ url_for('races_create')}}">
  <table>
    <tr>
      <td>
        {{ form.player.label }}
      </td>
      <td>
        {{ form.player }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.track.label }}
      </td>
      <td>
        {{ form.track }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.character.label }}
      </td>
      <td>
        {{ form.character }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.placement.label }}
      </td>
      <td>
        {{ form.placement }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.finish_time.label }}
      </td>
      <td>
        {{ form.finish_time }}
      </td>
      <td>
        Add in form mm:ss 
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" class="btn btn-success btn-sm" value="Add a new race" />
      </td>
    </tr>
  </table>
</form>
{% endblock %}